.myInput {
    transition: all 0.6s;
    display: flex;
    align-items: center;
    border: 2px solid #8B8B8B;
    border-radius: 15px;
    padding: 10px 25px;
    width: 100%;
}

.myInput:focus-within {
    border-color: #10ACB1;
}

.myInput img {
    margin-right: 15px;
    height: 20px;
}

.input {
    border: none;
    background: none;
    color: white;
    outline: none;
    border-radius: 0;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
    flex-grow: 1; /* Дает понять flexbox'у, что этот этот элемент должен забрать большую часть пространства */
}

.input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.42); /* Для Chrome, Safari, Opera */
}

.toggle-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 62px; /* Фиксированная ширина кнопки */
    text-align: center; /* Текст выровнен по правому краю */
    margin-left: 15px;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

@media screen and (max-width: 610px) {

}

@media screen and (max-width: 500px) {
    .myInput {
        padding: 8px 12px;
        border-radius: 9px;

    }

    .myInput img {
        width: 12px;
        margin-right: 8px;
    }

    .input::-webkit-input-placeholder {
        font-size: 9px;
    }

    .toggle-button {
        font-size: 8px;
        margin-left: 8px;
    }

    .input {
        font-size: 9px;
        letter-spacing: 0;
    }
}
